.header {
  height: 8rem;
  background-color: #fff;
  padding: 2.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    font-size: 1.8rem;
    font-weight: 400;

    a {
      color: #262626;
    }
  }

  &__authorization {
    display: flex;
    gap: 4rem;
    align-items: center;
  }

  &__button {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #262626;
    transition: all 200ms;

    &--accent {
      padding: 1rem 1.8rem;
      border: 1px solid #52c41a;
      border-radius: 0.5rem;
      color: #52c41a;

      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.3rem 0.4rem 0.2rem rgba($color: #000000, $alpha: 0.15);
      }
    }

    &--secondary {
      padding: 1rem 1.8rem;
      border: 1px solid #262626;
      border-radius: 0.5rem;

      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.3rem 0.4rem 0.2rem rgba($color: #000000, $alpha: 0.15);
      }
    }

    &--article {
      padding: 0.6rem 1rem;
      border: 1px solid #52c41a;
      border-radius: 0.5rem;
      color: #52c41a;
      font-size: 1.4rem;
      height: fit-content;

      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.3rem 0.4rem 0.2rem rgba($color: #000000, $alpha: 0.15);
      }
    }
  }

  &__authorized {
    display: flex;
    gap: 2.6rem;
    align-items: center;
  }

  &__user-info {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  &__user-name {
    font-size: 1.8rem;
    color: #262626;
  }

  &__user-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: relative;
      display: block;
      width: 46px;
      height: 46px;
      object-fit: cover;
      font-size: 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 50%;
        background: url('/assets/user.svg') no-repeat;
      }
    }
  }
}
