.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2.2rem;

  &__left {
    max-width: 80%;
    flex-shrink: 1;
  }

  &__heading-block {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    margin-bottom: 0.4rem;
  }

  &__heading {
    font-weight: 400;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      text-decoration: none;
    }
  }

  &__likes {
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__like-button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border: none;
    background: none;

    &--like {
      background: url('./heart.svg') no-repeat;
    }

    &--unlike {
      background: url('./heart-red.svg') no-repeat;
    }

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &__right {
    min-width: 19%;
    max-width: 50%;
    display: flex;
    gap: 1.2rem;
    align-self: flex-start;
    align-items: center;
  }

  &__user-info {
    max-width: 65%;

    & p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }

      &:last-child {
        font-size: 1.2rem;
        color: #777;
      }
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
  }
}
