* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: #262626;
}

body {
  background-color: #ebeef3;
  padding-bottom: 2.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.3rem 0.4rem 0.2rem rgba($color: #000000, $alpha: 0.15);
  }
}

ul {
  list-style: none;
}

a {
  color: #1890ff;
  text-decoration: none;
}

:focus {
  outline: 1px solid #1890ff;
}
